spring-context/src/test/resources/META-INF/spring-xml-custom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.wpbxin.com.cn/schema/customComponent"
			elementFormDefault="qualified">

	<element name="customComponent">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="name" type="string"/>
			<attribute name="flag" type="boolean"/>
		</complexType>
	</element>
</schema>